// Started classes
.started {
    width: 100%;
    margin-top: 101px;
    margin-bottom: 125px;
    &__inner {
        @include flex(row, space-between, center);
        &_list {
            position: relative;
            padding: 15px;
            position: relative;
            width: 495px;
            height: 477px;
            list-style-type: none;
            background-image: url(../../images/line45.svg);
            background-size: cover;
            background-color: rgba(9, 188, 77, 0.2);
            border-radius: 20px;
            z-index: -2;
            &---itam {
                width: 255px;
                background-color: #fff;
                border-radius: 10px;
                &--info {
                    padding: 40px 15px;
                    &-span {
                        width: 74px;
                        display: block;
                        background-color: #45B871;
                        padding: 24px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                    &-link {
                        margin-top: 30px;
                        display: block;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 28px;
                        line-height: 15px;
                        color: #242323;
                    }
                }
            }
            //  :nth-child(2) {
            //     position: absolute;
            //     top: 50px;
            //     left: 250px;
            //     width: 255px;
            // }
             :nth-child(3) {
                position: absolute;
                top: 350px;
                left: 66px;
                width: 255px;
            }
             :nth-child(4) {
                position: absolute;
                top: 350px;
                left: 300px;
                width: 255px;
                background-color: #45B871;
            }
        }
        &_info {
            max-width: 611px;
            &--title {
                width: 416px;
                margin-bottom: 30px;
                font-weight: 700;
                font-size: 58px;
                line-height: 74px;
            }
            &--text {
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #8C8E91;
                margin-bottom: 63px;
            }
            &--link {
                position: relative;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                text-decoration-line: underline;
                color: #242323;
                left: 60px;
            }
            &--link::before {
                position: absolute;
                left: -70px;
                top: -10px;
                content: "";
                display: block;
                background-image: url(../../images/pause.svg);
                background-position: 20px 20px;
                background-repeat: no-repeat;
                background-color: #DDEEF2;
                border-radius: 50%;
                width: 58px;
                height: 58px;
            }
        }
    }
}